@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #000000, #222222);
  color: #f49756;
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#gameTitle {
  font-size: 4vw;
  margin-bottom: 10px;
}

#overlays > div {
  display: none;
}

#overlays > div.active {
  display: block;
}

.keyboard {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  background: #111111;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px #666666
}

.key-row {
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
 gap: 2px;
  width: 100%;
}

.key {
  background-color: #D47756;
  border: none;
  border-radius: 6px;
  font-size: 2.5rem;
  cursor: pointer;
  color: #FDFCFB;
  text-shadow: 0px 0px 3px #000000;
  padding: 8px;
  box-shadow: 0 0 5px #666666;
  background: linear-gradient(145deg, #D25646, #D47756);
  transform: scale(1);
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
  width: 10%;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.keyDummy {
  background-color: #1a1a1a;
  border: none;
  border-radius: 6px;
  font-size: 2.5rem;
  cursor:not-allowed;
  color: #FDFCFB;
  text-shadow: 0px 0px 3px #000000;
  padding: 8px;
  box-shadow: 0 0 5px #666666;
  background: linear-gradient(145deg, #D25646, #D47756);
  transform: scale(1);
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
  width: 10%;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.key:hover:not(.disabled) {
  background-color: #D47756;
  transform: scale(1.15);
  box-shadow: 0 0 10px #D47756;
}

.key.disabled {
  background-color: #1a1a1a;
  color: #666666;
  cursor: not-allowed;
  box-shadow: none;
}

#level {
  justify-content: center;
  font-weight: bold;
  margin-top: 8px;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
}

#gameArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

#word {
  display: inline-block;
  align-items: center;
  white-space: nowrap;
  font-size: clamp(2rem, 8vw, 4rem);
  font-weight: bold;
  text-shadow: 2px 2px 4px #522200;
  padding: 6px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 90%;
  margin: 0 auto;
}

#attempts {
  font-size: clamp(1rem, 2vw, 3rem);
  margin-top: 0;
  margin-bottom: 5px;
}

#hint {
  display: block;
  font-size: 2rem;
  font-style: italic;
  color: #f49756;
  padding: 6px;
  border-radius: 6px;
}

.word-container {
  width: 100%;
  text-align: center;
}

#word .letter.letter-reveal {
  opacity: 1;
  animation: fadeIn 0.5s ease;
}

#gameOver, #gameWin, #howToPlay {
  background: linear-gradient(to bottom, #000000, #222222);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #f49756;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

#gameOver h2, #gameWin h2, #howToPlay h2 {
  font-size: clamp(2rem, 8vw, 4rem);
  margin: 10px 0;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  display: inline-block;
}

#gameOver p, #gameWin p, #howToPlay p {
  white-space: normal;
  max-width: 80%;
  margin: 20px auto;
  font-size: clamp(1rem, 3vw, 2rem);
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

#gameOver button, #gameWin button, #howToPlay button, .game-button {
  background-color: #D47756;
  border: none;
  border-radius: 5px;
  font-size: 1.5vw;
  cursor: pointer;
  color: #FDFCFB;
  text-shadow: 0px 0px 3px #000000;
  padding: 8px 10px;
  box-shadow: 0 0 5px #666666;
  background-color: #D25646;
  color: #FDFCFB;
  box-shadow: 0 0 10px #D47756;
  margin: 20px;
}

.gamecontrols {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: auto; /* Push controls to the bottom */
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.slider {
  width: 100px;
}

@media (max-width: 768px) {
  .key {
    width: auto;
    flex: 1;
    font-size: 1.5rem;
    padding: 6px;

    width: 12%;
    height: 35px;
  }

  .keyDummy {
    width: auto;
    flex: 1;
    font-size: 1.5rem;
    padding: 6px;
    width: 12%;
    height: 35px;
  }
  .keyboard {
    width: 100%;
  }
  #gameOver, #gameWin, #howToPlay {
    width: 90%;
    left: 5%;
    font-size: 5vw;
  }
  #gameOver p, #gameWin p, #howToPlay p {
    max-width: 90%;
    font-size: 3vw;
  }
}



/* Additional animations */
@keyframes revealWord {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInLevel {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.word-reveal-animation {
  animation: revealWord 1s ease-out forwards;
}

.level-reveal-animation {
  animation: fadeInLevel 1s ease-out forwards;
}

.word-fade-out {
  animation: fadeOut 1.5s forwards;
}

@keyframes levelIncrease {
  0% { transform: translateY(0); opacity: 1; }
  50% { transform: translateY(-30px); opacity: 0.8; }
  100% { transform: translateY(0); opacity: 1; }
}

.level-up {
  animation: levelIncrease 1.5s ease-in-out forwards;
}